// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";

import {
  type NormalizedClientOptions,
  normalizeClientOptions,
} from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Mirascope from "../../../index.js";

export declare namespace OrganizationMembershipsClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class OrganizationMembershipsClient {
  protected readonly _options: NormalizedClientOptions<OrganizationMembershipsClient.Options>;

  constructor(options: OrganizationMembershipsClient.Options = {}) {
    this._options = normalizeClientOptions(options);
  }

  /**
   * @param {Mirascope.OrganizationMembershipsListRequest} request
   * @param {OrganizationMembershipsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Mirascope.BadRequestError}
   * @throws {@link Mirascope.ForbiddenError}
   * @throws {@link Mirascope.NotFoundError}
   * @throws {@link Mirascope.TooManyRequestsError}
   * @throws {@link Mirascope.InternalServerError}
   * @throws {@link Mirascope.ServiceUnavailableError}
   *
   * @example
   *     await client.organizationMemberships.list({
   *         organizationId: "organizationId"
   *     })
   */
  public list(
    request: Mirascope.OrganizationMembershipsListRequest,
    requestOptions?: OrganizationMembershipsClient.RequestOptions,
  ): core.HttpResponsePromise<
    Mirascope.OrganizationMembershipsListResponseItem[]
  > {
    return core.HttpResponsePromise.fromPromise(
      this.__list(request, requestOptions),
    );
  }

  private async __list(
    request: Mirascope.OrganizationMembershipsListRequest,
    requestOptions?: OrganizationMembershipsClient.RequestOptions,
  ): Promise<
    core.WithRawResponse<Mirascope.OrganizationMembershipsListResponseItem[]>
  > {
    const { organizationId } = request;
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.MirascopeEnvironment.Production,
        `organizations/${core.url.encodePathParam(organizationId)}/members`,
      ),
      method: "GET",
      headers: _headers,
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          180) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: serializers.organizationMemberships.list.Response.parseOrThrow(
          _response.body,
          {
            unrecognizedObjectKeys: "passthrough",
            allowUnrecognizedUnionMembers: true,
            allowUnrecognizedEnumValues: true,
            skipValidation: true,
            breadcrumbsPrefix: ["response"],
          },
        ),
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new Mirascope.BadRequestError(
            _response.error.body,
            _response.rawResponse,
          );
        case 403:
          throw new Mirascope.ForbiddenError(
            serializers.PermissionDeniedError.parseOrThrow(
              _response.error.body,
              {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                skipValidation: true,
                breadcrumbsPrefix: ["response"],
              },
            ),
            _response.rawResponse,
          );
        case 404:
          throw new Mirascope.NotFoundError(
            serializers.NotFoundErrorBody.parseOrThrow(_response.error.body, {
              unrecognizedObjectKeys: "passthrough",
              allowUnrecognizedUnionMembers: true,
              allowUnrecognizedEnumValues: true,
              skipValidation: true,
              breadcrumbsPrefix: ["response"],
            }),
            _response.rawResponse,
          );
        case 429:
          throw new Mirascope.TooManyRequestsError(
            serializers.RateLimitError.parseOrThrow(_response.error.body, {
              unrecognizedObjectKeys: "passthrough",
              allowUnrecognizedUnionMembers: true,
              allowUnrecognizedEnumValues: true,
              skipValidation: true,
              breadcrumbsPrefix: ["response"],
            }),
            _response.rawResponse,
          );
        case 500:
          throw new Mirascope.InternalServerError(
            _response.error.body,
            _response.rawResponse,
          );
        case 503:
          throw new Mirascope.ServiceUnavailableError(
            _response.error.body,
            _response.rawResponse,
          );
        default:
          throw new errors.MirascopeError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/organizations/{organizationId}/members",
    );
  }

  /**
   * @param {Mirascope.OrganizationMembershipsDeleteRequest} request
   * @param {OrganizationMembershipsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Mirascope.BadRequestError}
   * @throws {@link Mirascope.ForbiddenError}
   * @throws {@link Mirascope.NotFoundError}
   * @throws {@link Mirascope.TooManyRequestsError}
   * @throws {@link Mirascope.InternalServerError}
   * @throws {@link Mirascope.ServiceUnavailableError}
   *
   * @example
   *     await client.organizationMemberships.delete({
   *         organizationId: "organizationId",
   *         memberId: "memberId"
   *     })
   */
  public delete(
    request: Mirascope.OrganizationMembershipsDeleteRequest,
    requestOptions?: OrganizationMembershipsClient.RequestOptions,
  ): core.HttpResponsePromise<void> {
    return core.HttpResponsePromise.fromPromise(
      this.__delete(request, requestOptions),
    );
  }

  private async __delete(
    request: Mirascope.OrganizationMembershipsDeleteRequest,
    requestOptions?: OrganizationMembershipsClient.RequestOptions,
  ): Promise<core.WithRawResponse<void>> {
    const { organizationId, memberId } = request;
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.MirascopeEnvironment.Production,
        `organizations/${core.url.encodePathParam(organizationId)}/members/${core.url.encodePathParam(memberId)}`,
      ),
      method: "DELETE",
      headers: _headers,
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          180) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return { data: undefined, rawResponse: _response.rawResponse };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new Mirascope.BadRequestError(
            _response.error.body,
            _response.rawResponse,
          );
        case 403:
          throw new Mirascope.ForbiddenError(
            serializers.PermissionDeniedError.parseOrThrow(
              _response.error.body,
              {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                skipValidation: true,
                breadcrumbsPrefix: ["response"],
              },
            ),
            _response.rawResponse,
          );
        case 404:
          throw new Mirascope.NotFoundError(
            serializers.NotFoundErrorBody.parseOrThrow(_response.error.body, {
              unrecognizedObjectKeys: "passthrough",
              allowUnrecognizedUnionMembers: true,
              allowUnrecognizedEnumValues: true,
              skipValidation: true,
              breadcrumbsPrefix: ["response"],
            }),
            _response.rawResponse,
          );
        case 429:
          throw new Mirascope.TooManyRequestsError(
            serializers.RateLimitError.parseOrThrow(_response.error.body, {
              unrecognizedObjectKeys: "passthrough",
              allowUnrecognizedUnionMembers: true,
              allowUnrecognizedEnumValues: true,
              skipValidation: true,
              breadcrumbsPrefix: ["response"],
            }),
            _response.rawResponse,
          );
        case 500:
          throw new Mirascope.InternalServerError(
            _response.error.body,
            _response.rawResponse,
          );
        case 503:
          throw new Mirascope.ServiceUnavailableError(
            _response.error.body,
            _response.rawResponse,
          );
        default:
          throw new errors.MirascopeError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "DELETE",
      "/organizations/{organizationId}/members/{memberId}",
    );
  }

  /**
   * @param {Mirascope.OrganizationMembershipsUpdateRequest} request
   * @param {OrganizationMembershipsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Mirascope.BadRequestError}
   * @throws {@link Mirascope.ForbiddenError}
   * @throws {@link Mirascope.NotFoundError}
   * @throws {@link Mirascope.TooManyRequestsError}
   * @throws {@link Mirascope.InternalServerError}
   * @throws {@link Mirascope.ServiceUnavailableError}
   *
   * @example
   *     await client.organizationMemberships.update({
   *         organizationId: "organizationId",
   *         memberId: "memberId",
   *         role: "ADMIN"
   *     })
   */
  public update(
    request: Mirascope.OrganizationMembershipsUpdateRequest,
    requestOptions?: OrganizationMembershipsClient.RequestOptions,
  ): core.HttpResponsePromise<Mirascope.OrganizationMembershipsUpdateResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__update(request, requestOptions),
    );
  }

  private async __update(
    request: Mirascope.OrganizationMembershipsUpdateRequest,
    requestOptions?: OrganizationMembershipsClient.RequestOptions,
  ): Promise<
    core.WithRawResponse<Mirascope.OrganizationMembershipsUpdateResponse>
  > {
    const { organizationId, memberId, ..._body } = request;
    const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)) ??
          environments.MirascopeEnvironment.Production,
        `organizations/${core.url.encodePathParam(organizationId)}/members/${core.url.encodePathParam(memberId)}`,
      ),
      method: "PATCH",
      headers: _headers,
      contentType: "application/json",
      queryParameters: requestOptions?.queryParams,
      requestType: "json",
      body: serializers.OrganizationMembershipsUpdateRequest.jsonOrThrow(
        _body,
        {
          unrecognizedObjectKeys: "strip",
          omitUndefined: true,
        },
      ),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          180) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: serializers.OrganizationMembershipsUpdateResponse.parseOrThrow(
          _response.body,
          {
            unrecognizedObjectKeys: "passthrough",
            allowUnrecognizedUnionMembers: true,
            allowUnrecognizedEnumValues: true,
            skipValidation: true,
            breadcrumbsPrefix: ["response"],
          },
        ),
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new Mirascope.BadRequestError(
            _response.error.body,
            _response.rawResponse,
          );
        case 403:
          throw new Mirascope.ForbiddenError(
            serializers.PermissionDeniedError.parseOrThrow(
              _response.error.body,
              {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                skipValidation: true,
                breadcrumbsPrefix: ["response"],
              },
            ),
            _response.rawResponse,
          );
        case 404:
          throw new Mirascope.NotFoundError(
            serializers.NotFoundErrorBody.parseOrThrow(_response.error.body, {
              unrecognizedObjectKeys: "passthrough",
              allowUnrecognizedUnionMembers: true,
              allowUnrecognizedEnumValues: true,
              skipValidation: true,
              breadcrumbsPrefix: ["response"],
            }),
            _response.rawResponse,
          );
        case 429:
          throw new Mirascope.TooManyRequestsError(
            serializers.RateLimitError.parseOrThrow(_response.error.body, {
              unrecognizedObjectKeys: "passthrough",
              allowUnrecognizedUnionMembers: true,
              allowUnrecognizedEnumValues: true,
              skipValidation: true,
              breadcrumbsPrefix: ["response"],
            }),
            _response.rawResponse,
          );
        case 500:
          throw new Mirascope.InternalServerError(
            _response.error.body,
            _response.rawResponse,
          );
        case 503:
          throw new Mirascope.ServiceUnavailableError(
            _response.error.body,
            _response.rawResponse,
          );
        default:
          throw new errors.MirascopeError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "PATCH",
      "/organizations/{organizationId}/members/{memberId}",
    );
  }
}
