# Cloud-specific Ignores
.wrangler
.tanstack
.dev.vars
.env.local
.build-cache/
tsconfig.tsbuildinfo
!app/lib
coverage
dist

# Temporary snippet extraction output
.extracted-snippets/

docker/data
!docker/data/
docker/data/postgres/
docker/data/clickhouse/*
!docker/data/clickhouse/.gitkeep
