copyright: Copyright &copy; 2023 Mirascope, Inc.
site_name: Mirascope
site_url: https://www.mirascope.com/docs
site_description: LLM abstractions that aren't obstructions
repo_name: mirascope
repo_url: https://github.com/Mirascope/mirascope/
strict: true
theme:
  name: material
  custom_dir: docs/overrides
  icon:
    repo: fontawesome/brands/github
  logo: assets/brandmark.png
  favicon: assets/favicon.png
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - content.code.link
    - navigation.footer
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.sections
    - search.highlight
    - search.suggest
    - toc.follow
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: custom
      accent: indigo
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: custom
      accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/Mirascope
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/WilliamBakst
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/wbakst/
  analytics:
    provider: google
    property: G-DJHT1QG9GK
  supported_llm_providers:
    - OpenAI
    - Anthropic
    - Mistral
    - Gemini
    - Groq
    - Cohere
    - LiteLLM
    - Azure AI
    - Vertex AI
    - Bedrock
  prompt_writing_methods:
    - shorthand
    - messages
    - string_template
    - base_message_param
  prompt_writing_method_titles:
    - Shorthand
    - Messages
    - String Template
    - BaseMessageParam

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format ""
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true

plugins:
  - search
  - macros:
      module_name: docs/macros
  - mkdocs-jupyter:
      execute: false
      include_source: True
      ignore: ["*.py"]
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            members_order: source
            separate_signature: true
            filters: ["!^_"]
            show_root_heading: false
            show_root_toc_entry: false
            docstring_style: google
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
            show_signature_annotations: true
            signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            extensions:
              - docs/plugins/griffe_doclinks.py
          import:
            - https://docs.python.org/3/objects.inv

extra_css:
  - "extra/tweaks.css"

validation:
  omitted_files: warn
  absolute_links: relative_to_docs
  unrecognized_links: warn
  not_found: warn

nav:
  - Get Started:
      - Welcome to Mirascope: "index.md"
      - Why Use Mirascope: "WHY.md"
      - Help: "HELP.md"
      - Migration Guide: "MIGRATE.md"
      - Contributing: "CONTRIBUTING.md"
  - Tutorials:
      - Getting Started:
          - Quickstart: "tutorials/getting_started/quickstart.ipynb"
          - Structured Outputs: "tutorials/getting_started/structured_outputs.ipynb"
          - Dynamic Configuration & Chaining: "tutorials/getting_started/dynamic_configuration_and_chaining.ipynb"
          - Tools & Agents: "tutorials/getting_started/tools_and_agents.ipynb"
      - More Advanced:
          - Text Classification: "tutorials/more_advanced/text_classification.ipynb"
          - Text Translation: "tutorials/more_advanced/text_translation.ipynb"
          - Text Summarization: "tutorials/more_advanced/text_summarization.ipynb"
          - Search with Sources: "tutorials/more_advanced/search_with_sources.ipynb"
          - LLM Validation With Retries: "tutorials/more_advanced/llm_validation_with_retries.ipynb"
          - Extract from PDF: "tutorials/more_advanced/extract_from_pdf.ipynb"
          - Knowledge Graph: "tutorials/more_advanced/knowledge_graph.ipynb"
          - Generating Captions: "tutorials/more_advanced/generating_captions.ipynb"
          - PII Scrubbing: "tutorials/more_advanced/pii_scrubbing.ipynb"
          - Extraction using Vision: "tutorials/more_advanced/extraction_using_vision.ipynb"
          - Code Generation and Execution: "tutorials/more_advanced/code_generation_and_execution.ipynb"
          - Support Ticket Routing: "tutorials/more_advanced/support_ticket_routing.ipynb"
          - Document Segmentation: "tutorials/more_advanced/document_segmentation.ipynb"
          - Generating Synthetic Data: "tutorials/more_advanced/generating_synthetic_data.ipynb"
          - Removing Semantic Duplicates: "tutorials/more_advanced/removing_semantic_duplicates.ipynb"
          - Speech Transcription: "tutorials/more_advanced/speech_transcription.ipynb"
          - Query Plan: "tutorials/more_advanced/query_plan.ipynb"
          - Named Entity Recognition: "tutorials/more_advanced/named_entity_recognition.ipynb"
          - o1 Style Thinking: "tutorials/more_advanced/o1_style_thinking.ipynb"
      - Agents:
          - Web Search Agent: "tutorials/agents/web_search_agent.ipynb"
          - Blog Writing Agent: "tutorials/agents/blog_writing_agent.ipynb"
          - SQL Agent: "tutorials/agents/sql_agent.ipynb"
          - Localized Agent: "tutorials/agents/localized_agent.ipynb"
          - Local Chat with Codebase: "tutorials/agents/local_chat_with_codebase.ipynb"
          - Documentation Agent: "tutorials/agents/documentation_agent.ipynb"
      - Prompt Engineering:
          - Text Based:
              - Self Ask: "tutorials/prompt_engineering/text_based/self_ask.ipynb"
              - Plan and Solve: "tutorials/prompt_engineering/text_based/plan_and_solve.ipynb"
              - Contrastive Chain of Thought: "tutorials/prompt_engineering/text_based/contrastive_chain_of_thought.ipynb"
              - Tabular Chain of Thought: "tutorials/prompt_engineering/text_based/tabular_chain_of_thought.ipynb"
              - Chain of Thought: "tutorials/prompt_engineering/text_based/chain_of_thought.ipynb"
              - Thread of Thought: "tutorials/prompt_engineering/text_based/thread_of_thought.ipynb"
              - Rereading: "tutorials/prompt_engineering/text_based/rereading.ipynb"
              - Emotion Prompting: "tutorials/prompt_engineering/text_based/emotion_prompting.ipynb"
              - Rephrase and Respond: "tutorials/prompt_engineering/text_based/rephrase_and_respond.ipynb"
              - Common Phrases: "tutorials/prompt_engineering/text_based/common_phrases.ipynb"
              - Role Prompting: "tutorials/prompt_engineering/text_based/role_prompting.ipynb"
          - Chaining Based:
              - Self-Refine: "tutorials/prompt_engineering/chaining_based/self_refine.ipynb"
              - Self-Consistency: "tutorials/prompt_engineering/chaining_based/self_consistency.ipynb"
              - Reverse Chain of Thought: "tutorials/prompt_engineering/chaining_based/reverse_chain_of_thought.ipynb"
              - Prompt Paraphrasing: "tutorials/prompt_engineering/chaining_based/prompt_paraphrasing.ipynb"
              - Mixture of Reasoning: "tutorials/prompt_engineering/chaining_based/mixture_of_reasoning.ipynb"
              - Demonstration Ensembling: "tutorials/prompt_engineering/chaining_based/demonstration_ensembling.ipynb"
              - Chain of Verification: "tutorials/prompt_engineering/chaining_based/chain_of_verification.ipynb"
              - Least to Most: "tutorials/prompt_engineering/chaining_based/least_to_most.ipynb"
              - DiVeRSe: "tutorials/prompt_engineering/chaining_based/diverse.ipynb"
              - Decomposed Prompting: "tutorials/prompt_engineering/chaining_based/decomposed_prompting.ipynb"
              - System to Attention (S2A): "tutorials/prompt_engineering/chaining_based/system_to_attention.ipynb"
              - Step-back Prompting: "tutorials/prompt_engineering/chaining_based/step_back.ipynb"
              - Skeleton of Thought: "tutorials/prompt_engineering/chaining_based/skeleton_of_thought.ipynb"
              - Sim to M: "tutorials/prompt_engineering/chaining_based/sim_to_m.ipynb"
      - Evaluations:
          - Evaluating SQL Agent: "tutorials/evals/evaluating_sql_agent.ipynb"
          - Evaluating Web Search Agent: "tutorials/evals/evaluating_web_search_agent.ipynb"
          - Evaluating Documentation Agent: "tutorials/evals/evaluating_documentation_agent.ipynb"
      - LangGraph vs. Mirascope:
          - Quickstart: "tutorials/langgraph_vs_mirascope/quickstart.ipynb"
  - Learn:
      - Overview: "learn/index.md"
      - Prompts: "learn/prompts.md"
      - Calls: "learn/calls.md"
      - Streams: "learn/streams.md"
      - Chaining: "learn/chaining.md"
      - Response Models: "learn/response_models.md"
      - JSON Mode: "learn/json_mode.md"
      - Output Parsers: "learn/output_parsers.md"
      - Tools: "learn/tools.md"
      - Agents: "learn/agents.md"
      - Evals: "learn/evals.md"
      - Async: "learn/async.md"
      - Retries: "learn/retries.md"
      - Provider-Specific Features:
          - OpenAI: "learn/provider_specific_features/openai.md"
          - Anthropic: "learn/provider_specific_features/anthropic.md"
      - Extensions:
          - Middleware: "learn/extensions/middleware.md"
          - Custom LLM Provider: "learn/extensions/custom_provider.md"
  - Integrations:
      - OpenTelemetry: "integrations/otel.md"
      - HyperDX: "integrations/hyperdx.md"
      - Logfire: "integrations/logfire.md"
      - Langfuse: "integrations/langfuse.md"
  - API Reference:
      - Core:
          - Anthropic:
              - call: "api/core/anthropic/call.md"
              - call_params: "api/core/anthropic/call_params.md"
              - call_response: "api/core/anthropic/call_response.md"
              - call_response_chunk: "api/core/anthropic/call_response_chunk.md"
              - dynamic_config: "api/core/anthropic/dynamic_config.md"
              - stream: "api/core/anthropic/stream.md"
              - tool: "api/core/anthropic/tool.md"
          - Azure AI:
              - call: "api/core/azure/call.md"
              - call_params: "api/core/azure/call_params.md"
              - call_response: "api/core/azure/call_response.md"
              - call_response_chunk: "api/core/azure/call_response_chunk.md"
              - dynamic_config: "api/core/azure/dynamic_config.md"
              - stream: "api/core/azure/stream.md"
              - tool: "api/core/azure/tool.md"
          - Base:
              - call_factory: "api/core/base/call_factory.md"
              - call_params: "api/core/base/call_params.md"
              - call_response: "api/core/base/call_response.md"
              - call_response_chunk: "api/core/base/call_response_chunk.md"
              - dynamic_config: "api/core/base/dynamic_config.md"
              - message_param: "api/core/base/message_param.md"
              - metadata: "api/core/base/metadata.md"
              - prompt: "api/core/base/prompt.md"
              - stream: "api/core/base/stream.md"
              - structured_stream: "api/core/base/structured_stream.md"
              - tool: "api/core/base/tool.md"
              - toolkit: "api/core/base/toolkit.md"
          - Bedrock:
              - call: "api/core/bedrock/call.md"
              - call_params: "api/core/bedrock/call_params.md"
              - call_response: "api/core/bedrock/call_response.md"
              - call_response_chunk: "api/core/bedrock/call_response_chunk.md"
              - dynamic_config: "api/core/bedrock/dynamic_config.md"
              - stream: "api/core/bedrock/stream.md"
              - tool: "api/core/bedrock/tool.md"
          - Cohere:
              - call: "api/core/cohere/call.md"
              - call_params: "api/core/cohere/call_params.md"
              - call_response: "api/core/cohere/call_response.md"
              - call_response_chunk: "api/core/cohere/call_response_chunk.md"
              - dynamic_config: "api/core/cohere/dynamic_config.md"
              - stream: "api/core/cohere/stream.md"
              - tool: "api/core/cohere/tool.md"
          - Gemini:
              - call: "api/core/gemini/call.md"
              - call_params: "api/core/gemini/call_params.md"
              - call_response: "api/core/gemini/call_response.md"
              - call_response_chunk: "api/core/gemini/call_response_chunk.md"
              - dynamic_config: "api/core/gemini/dynamic_config.md"
              - stream: "api/core/gemini/stream.md"
              - tool: "api/core/gemini/tool.md"
          - Groq:
              - call: "api/core/groq/call.md"
              - call_params: "api/core/groq/call_params.md"
              - call_response: "api/core/groq/call_response.md"
              - call_response_chunk: "api/core/groq/call_response_chunk.md"
              - dynamic_config: "api/core/groq/dynamic_config.md"
              - stream: "api/core/groq/stream.md"
              - tool: "api/core/groq/tool.md"
          - LiteLLM:
              - call: "api/core/litellm/call.md"
          - Mistral:
              - call: "api/core/mistral/call.md"
              - call_params: "api/core/mistral/call_params.md"
              - call_response: "api/core/mistral/call_response.md"
              - call_response_chunk: "api/core/mistral/call_response_chunk.md"
              - dynamic_config: "api/core/mistral/dynamic_config.md"
              - stream: "api/core/mistral/stream.md"
              - tool: "api/core/mistral/tool.md"
          - OpenAI:
              - call: "api/core/openai/call.md"
              - call_params: "api/core/openai/call_params.md"
              - call_response: "api/core/openai/call_response.md"
              - call_response_chunk: "api/core/openai/call_response_chunk.md"
              - dynamic_config: "api/core/openai/dynamic_config.md"
              - stream: "api/core/openai/stream.md"
              - tool: "api/core/openai/tool.md"
          - Vertex AI:
              - call: "api/core/vertex/call.md"
              - call_params: "api/core/vertex/call_params.md"
              - call_response: "api/core/vertex/call_response.md"
              - call_response_chunk: "api/core/vertex/call_response_chunk.md"
              - dynamic_config: "api/core/vertex/dynamic_config.md"
              - stream: "api/core/vertex/stream.md"
              - tool: "api/core/vertex/tool.md"
      - Tools:
          - DuckDuckGo: "api/tools/web/duckduckgo.md"
          - HTTPX: "api/tools/web/httpx.md"
          - ParseURLContent: "api/tools/web/parse_url_content.md"
          - Requests: "api/tools/web/requests.md"
      - Integrations:
          - Langfuse: "api/integrations/langfuse.md"
          - Logfire: "api/integrations/logfire.md"
          - Middleware: "api/integrations/middleware.md"
          - OpenTelemetry: "api/integrations/otel.md"
          - Tenacity: "api/integrations/tenacity.md"
