[tool.poetry]
name = "mirascope"
version = "0.6.2"
description = "LLM toolkit for lightning-fast, high-quality development"
license = "MIT"
authors = [
    "William Bakst <william@mirascope.io>",
    "Brendan Kao <brendan@mirascope.io>",
]
readme = "docs/README.md"
packages = [{ include = "mirascope" }]
repository = "https://github.com/Mirascope/mirascope"

[tool.poetry.scripts]
mirascope = 'mirascope.cli.main:app'

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
pydantic = "^2.0.2"
typer = { version = "^0.9.0", extras = ["all"] }
Jinja2 = "^3.1.3"
openai = "^1.6.0"
docstring-parser = "^0.15"

# A list of optional dependencies that are required for certain features
wandb = { version = "^0.15.4", optional = true }
google-generativeai = { version = "^0.4.0", optional = true }
anthropic = { version = "^0.19.1", optional = true }
mistralai = { version = "^0.1.6", optional = true }

[tool.poetry.extras]
wandb = ["wandb"]
gemini = ["google-generativeai"]
anthropic = ["anthropic"]
mistral = ["mistralai"]
all = ["wandb", "google-generativeai", "anthropic", "mistralai"]

[tool.poetry.group.dev.dependencies]
mypy = "^1.6.1"
pytest = "^7.4.0"
ruff = "^0.1.5"
pytest-asyncio = "^0.23.3"
pytest-cov = "^4.1.0"

[tool.poetry.group.docs.dependencies]
mike = "^2.0.0"
mkdocs = "^1.4.3"
mkdocs-material = "^9.1.18"
mkdocstrings = "^0.22.0"
mkdocstrings-python = "^1.1.2"

[tool.poetry.group.cookbook.dependencies]
fastapi = "^0.109.0"
numpy = "^1.26.3"
pandas = "^2.2.0"
pandas-stubs = "^2.1.4.231227"
tiktoken = "^0.5.2"
pinecone-client = "^3.0.1"
uvicorn = { extras = ["standard"], version = "^0.27.0" }
python-dotenv = "^1.0.1"
pydantic-settings = "^2.1.0"
sqlalchemy = "^2.0.25"
psycopg2 = "^2.9.9"
langsmith = "^0.1.10"
langchain-core = "^0.1.27"
langchain-openai = "^0.0.8"
wandb = "^0.15.4"

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]

[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]
line-length = 88
target-version = "py38"

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]
ignore = []
fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.mypy]
exclude = ["venv", "virtualenvs"]

[[tool.mypy.overrides]]
module = "tiktoken"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "pinecone"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "pinecone.core.client.exceptions"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "mistralai"
ignore_missing_imports = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
