[tool.poetry]
name = "mirascope"
version = "0.17.0"
description = "An intuitive approach to building with LLMs"
license = "MIT"
authors = [
    "William Bakst <william@mirascope.io>",
    "Brendan Kao <brendan@mirascope.io>",
]
readme = "docs/README.md"
packages = [{ include = "mirascope" }]
repository = "https://github.com/Mirascope/mirascope"

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
pydantic = "^2.0.2"
openai = "^1.6.0"
docstring-parser = ">=0.15,<1.0"
tenacity = "^8.2.3"

# A list of optional dependencies that are required for certain features
anthropic = { version = ">=0.27.0,<1.0.0", optional = true }
chromadb = { version = ">=0.4.24,<1.0.0", optional = true }
mirascope-cli = { version = ">=0.1.3,<1.0.0", optional = true }
cohere = { version = "^5.5.7", optional = true }
google-generativeai = { version = ">=0.4.0,<1.0.0", optional = true }
groq = { version = ">=0.7.0,<1.0.0", optional = true }
hyperdx-opentelemetry = { version = "^0.1.0", optional = true }
langfuse = { version = "^2.30.0", optional = true }
logfire = { version = ">=0.41.0,<1.0.0", optional = true }
mistralai = { version = ">=0.1.6,<1.0.0", optional = true }
opentelemetry-api = { version = "^1.22.0", optional = true }
opentelemetry-sdk = { version = "^1.22.0", optional = true }
pinecone-client = { version = "^3.2.2", optional = true }
wandb = { version = ">=0.16.4,<1.0.0", optional = true }
weave = { version = ">=0.50.2,<1.0.0", optional = true }

[tool.poetry.extras]
anthropic = ["anthropic"]
chromadb = ["chromadb"]
cli = ["mirascope-cli"]
cohere = ["cohere"]
gemini = ["google-generativeai"]
groq = ["groq"]
hyperdx = ["hyperdx-opentelemetry"]
langfuse = ["langfuse"]
logfire = ["logfire"]
mistral = ["mistralai"]
opentelemetry = ["opentelemetry-api", "opentelemetry-sdk"]
pinecone = ["pinecone-client"]
wandb = ["wandb"]
weave = ["weave"]
all = [
    "anthropic",
    "chromadb",
    "mirascope-cli",
    "cohere",
    "google-generativeai",
    "groq",
    "hyperdx-opentelemetry",
    "langfuse",
    "logfire",
    "mistralai",
    "opentelemetry-api",
    "opentelemetry-sdk",
    "pinecone-client",
    "wandb",
    "weave",
]

[tool.poetry.group.dev.dependencies]
mypy = "^1.6.1"
pytest = "^7.4.0"
ruff = "^0.1.5"
pytest-asyncio = "^0.23.3"
pytest-cov = "^4.1.0"
eval-type-backport = "^0.2.0"

[tool.poetry.group.docs.dependencies]
mike = "^2.0.0"
mkdocs = "^1.4.3"
mkdocs-material = "^9.1.18"
mkdocstrings = "^0.22.0"
mkdocstrings-python = "^1.1.2"

[tool.poetry.group.examples.dependencies]
fastapi = "^0.109.0"
pandas = "^2.2.0"
pandas-stubs = "^2.1.4.231227"
uvicorn = { extras = ["standard"], version = "^0.27.0" }
pydantic-settings = "^2.1.0"
sqlalchemy = "^2.0.25"
psycopg2 = "^2.9.9"
instructor = "^1.3.3"
spacy = "^3.7.5"
nltk = "^3.8.1"
Flask = "^3.0.3"
llama-index = "^0.10.44"
beautifulsoup4 = "^4.12.3"


[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]

[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]
line-length = 88
target-version = "py38"

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]
ignore = []
fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.mypy]
exclude = ["venv", "virtualenvs", "examples/instructor", "examples/django_examples"]

[[tool.mypy.overrides]]
module = "mistralai"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "weave"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = ["langfuse.*"]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = ["pinecone.*"]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
