[mirascope]
# path to versions directory
versions_location = {{ versions_location }}
# path to prompts directory
prompts_location = {{ prompts_location }}
# name of versions text file
version_file_name = {{ version_file_name }}