{
  "info": {
    "title": "Mirascope Cloud API",
    "version": "0.1.0",
    "description": "Complete API documentation for Mirascope Cloud"
  },
  "servers": [
    {
      "url": "https://v2.mirascope.com",
      "description": "Production server",
      "x-fern-server-name": "production"
    },
    {
      "url": "https://staging.mirascope.com",
      "description": "Staging server",
      "x-fern-server-name": "staging"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server",
      "x-fern-server-name": "local"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/api/v1/traces": {
      "post": {
        "operationId": "traces.create",
        "tags": [
          "traces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceSpans": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "resource": {
                          "type": "object",
                          "properties": {
                            "attributes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "object",
                                    "properties": {
                                      "stringValue": {
                                        "type": "string"
                                      },
                                      "intValue": {
                                        "type": "string"
                                      },
                                      "doubleValue": {
                                        "type": "number"
                                      },
                                      "boolValue": {
                                        "type": "boolean"
                                      },
                                      "arrayValue": {},
                                      "kvlistValue": {}
                                    }
                                  }
                                },
                                "required": [
                                  "key",
                                  "value"
                                ]
                              }
                            },
                            "droppedAttributesCount": {
                              "type": "number"
                            }
                          }
                        },
                        "scopeSpans": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "scope": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "version": {
                                    "type": "string"
                                  },
                                  "attributes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "object",
                                          "properties": {
                                            "stringValue": {
                                              "type": "string"
                                            },
                                            "intValue": {
                                              "type": "string"
                                            },
                                            "doubleValue": {
                                              "type": "number"
                                            },
                                            "boolValue": {
                                              "type": "boolean"
                                            },
                                            "arrayValue": {},
                                            "kvlistValue": {}
                                          }
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "value"
                                      ]
                                    }
                                  },
                                  "droppedAttributesCount": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "spans": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "traceId": {
                                      "type": "string"
                                    },
                                    "spanId": {
                                      "type": "string"
                                    },
                                    "parentSpanId": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "kind": {
                                      "type": "number"
                                    },
                                    "startTimeUnixNano": {
                                      "type": "string"
                                    },
                                    "endTimeUnixNano": {
                                      "type": "string"
                                    },
                                    "attributes": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "key": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "type": "object",
                                            "properties": {
                                              "stringValue": {
                                                "type": "string"
                                              },
                                              "intValue": {
                                                "type": "string"
                                              },
                                              "doubleValue": {
                                                "type": "number"
                                              },
                                              "boolValue": {
                                                "type": "boolean"
                                              },
                                              "arrayValue": {},
                                              "kvlistValue": {}
                                            }
                                          }
                                        },
                                        "required": [
                                          "key",
                                          "value"
                                        ]
                                      }
                                    },
                                    "droppedAttributesCount": {
                                      "type": "number"
                                    },
                                    "events": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "droppedEventsCount": {
                                      "type": "number"
                                    },
                                    "status": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "number"
                                        },
                                        "message": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "links": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "droppedLinksCount": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "traceId",
                                    "spanId",
                                    "name",
                                    "startTimeUnixNano",
                                    "endTimeUnixNano"
                                  ]
                                }
                              },
                              "schemaUrl": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "spans"
                            ]
                          }
                        },
                        "schemaUrl": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "scopeSpans"
                      ]
                    }
                  }
                },
                "required": [
                  "resourceSpans"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "partialSuccess": {
                      "type": "object",
                      "properties": {
                        "rejectedSpans": {
                          "type": "number"
                        },
                        "errorMessage": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health.check",
        "tags": [
          "health"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "const": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "timestamp",
                    "environment"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
