name: release
run-name: ${{ github.actor }} is uploading a new release to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup `uv`
        uses: astral-sh/setup-uv@v7

      - name: Install Python
        run: uv python install 3.10

      - name: Build Package
        working-directory: ./python
        run: uv build

      - name: Publish Python Package
        working-directory: ./python
        run: uv publish
